<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Rules</title>
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body>

<h1>Automation Rules</h1>

<h2>Create Rule</h2>

<form id="ruleForm">

Sensor
<input id="sensor">

Metric
<input id="metric">

Operator
<select id="operator">
<option>></option>
<option><</option>
<option>>=</option>
<option><=</option>
<option>==</option>
<option>!=</option>
</select>

Threshold
<input id="threshold" type="number">

Actuator
<input id="actuator">

State
<select id="state">
<option>ON</option>
<option>OFF</option>
</select>

<button type="submit">Create</button>

</form>

<h2>Rules</h2>

<div id="rules"></div>

<!-- <script type="module" src="{{ url_for('static', path='js/api.js') }}"></script> -->
<script type="module" src="{{ url_for('static', path='js/rules.js') }}"></script>

</body>

</html>